{% extends 'layout_base.html.twig' %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "static" %}

{% block content %}
    <section class="content default-color">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-10">
                    <h1>{{ "index.header"|trans }}</h1>
                    <h2>{{ "index.header_description"|trans }}</h2>
                    <p>{{ "index.i_want_to"|trans }}
                        <a href="{{ path("frontend_dashboard_index") }}">{{ "index.rent"|trans }}</a> |
                        <a href="{{ path("backend_dashboard_index") }}">{{ "index.offer"|trans }}</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}