{% extends 'layout_base.html.twig' %}

{% block title %}{{ "apply.title"|trans }}{% endblock %}
{% block description %}{{ 'apply.description'|trans }}{% endblock %}

{% trans_default_domain "frontend_application" %}

{% block content %}
    <section class="content">
        <div class="container index-container default-color">
            <div class="leaf-view">
                <div class="leaf">
                    <div class="text-center">
                        <h2>{{ application_slot.welcomeHeader }}</h2>
                        <p>{{ application_slot.welcomeText }}</p>
                    </div>
                </div>
                <div class="leaf">
                    <p>{{ "apply.choose_template"|trans }}</p>

                    <div class="alert alert-warning" role="alert">
                        {{ "apply.choose_template_warning"|trans }}
                    </div>
                    {{ form(use_template_form) }}
                </div>
                <div class="leaf">
                    {{ form(form) }}
                </div>
                <div class="leaf-control">
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-secondary go-back" role="button">
                                {{ "apply.button.back"|trans }}
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary go-forward float-right" role="button">
                                {{ "apply.button.forward"|trans }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}