{% extends 'layout_base.html.twig' %}
{% import "widgets/money.html.twig" as money %}
{% import "widgets/buttons.html.twig" as buttons %}

{% block title %}{{ "view.title"|trans }}{% endblock %}
{% block description %}{{ "view.description"|trans }}{% endblock %}

{% trans_default_domain "backend_application_slot_application" %}

{% block content %}
    <section class="content">
        <div class="container list-container d-md-block">
            <div class="tile-grid row">
                <div class="tile tile-4 default-color">
                    <h3>{{ "view.overview"|trans }}</h3>
                    <p>
                        {% for applicant in application.applicants %}
                            {% if loop.index0 > 0 %}
                                |
                            {% endif %}
                            {{ applicant.fullName }}
                        {% endfor %}
                        <br/>
                        {{ "yearly_salary"|trans({}, "entity_applicant_job") }}: {{ money.money(application.yearlySalary) }}</p>
                </div>
                <div class="tile tile-4 default-color">
                    <p>{{ "view.created_at"|trans }} <b>{{ application.createdAt|dateTimeFormat }}</b></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}