{% extends 'single_content_base.html.twig' %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "backend_dashboard" %}

{% block single_content %}
    <p>
        <a href="{{ path("backend_building_index") }}">
            {{ "index.title"|trans({}, "backend_building") }}
        </a>
        <br/>
        <a href="{{ path("backend_apartment_index") }}">
            {{ "index.title"|trans({}, "backend_apartment") }}
        </a>
    </p>
{% endblock %}