{% extends 'single_content_base.html.twig' %}
{% import 'widgets/breadcrumb.html.twig' as breadcrumb %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "backend_dashboard" %}

{% block breadcrumb %}
    {{ breadcrumb.link("index.title"|trans, path("backend_dashboard_index")) }}
{% endblock %}

{% block single_content %}
    <p>
        <a href="{{ path("backend_building_index") }}">
            {{ "index.title"|trans({}, "backend_building") }}
        </a>
        <br/>
        <a href="{{ path("backend_apartment_index") }}">
            {{ "index.title"|trans({}, "backend_apartment") }}
        </a>
        <br/>
        <a href="{{ path("backend_application_slot_index") }}">
            {{ "index.title"|trans({}, "backend_application_slot") }}
        </a>
    </p>
{% endblock %}