{% extends 'single_content_base.html.twig' %}
{% import "widgets/buttons.html.twig" as buttons %}
{% import "widgets/breadcrumb.html.twig" as breadcrumb %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "backend_application_slot" %}

{% block breadcrumb %}
    {{ breadcrumb.link("index.title"|trans, path("backend_application_slot_index")) }}
{% endblock %}

{% block single_content %}

    {% if application_slots|length > 0 %}
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>{{ "start_at"|trans({}, "entity_application_slot") }}</th>
                <th>{{ "end_at"|trans({}, "entity_application_slot") }}</th>
                <th>{{ "entity.plural"|trans({}, "entity_application") }}</th>
                <th>{{ "entity.name"|trans({}, "entity_apartment") }}</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for application_slot in application_slots %}
                <tr class="clickable" data-href="{{ path("backend_application_slot_application_index", {"applicationSlot" : application_slot.id}) }}">
                    <td>{{ application_slot.startAt|dateTimeFormat }}</td>
                    <td>{{ application_slot.endAt|dateTimeFormat }}</td>
                    <td>{{ application_slot.applications|length }}</td>
                    <td>{{ application_slot.apartment.name }}</td>
                    <td>
                        {{ buttons.button(path("backend_application_slot_application_index", {"applicationSlot": application_slot.id}), "index.title_short"|trans({}, "backend_application_slot_application"), "list") }}
                    </td>
                    <td>
                        {{ buttons.edit_button(path("backend_application_slot_edit", {"applicationSlot": application_slot.id}) ) }}
                    </td>
                    <td>
                        {{ buttons.remove_button(path("backend_application_slot_remove", {"applicationSlot": application_slot.id}) ) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ "index.no_apartments"|trans }}</p>
    {% endif %}
{% endblock %}