{% extends 'single_content_base.html.twig' %}
{% import "widgets/buttons.html.twig" as buttons %}
{% import "widgets/breadcrumb.html.twig" as breadcrumb %}

{% block title %}{{ apartment.name }}{% endblock %}
{% block title_html %}
    {{ title }}
    <div class="pull-right">
        {{ buttons.edit_button(path("backend_apartment_edit", {"apartment": apartment.id})) }}
        {{ buttons.remove_button(path("backend_apartment_remove", {"apartment": apartment.id})) }}
    </div>
{% endblock %}
{% block description %}{{ "details.title"|trans }}{% endblock %}

{% trans_default_domain "backend_apartment" %}

{% block breadcrumb %}
    {{ breadcrumb.link("index.title"|trans, path("backend_apartment_index")) }}
    {{ breadcrumb.sep }}
    {{ breadcrumb.link(apartment.building.name, path("backend_building_details", {building: apartment.building.id})) }}
    {{ breadcrumb.sep }}
    {{ breadcrumb.link(apartment.name, path("backend_apartment_details", {apartment: apartment.id})) }}
{% endblock %}

{% block single_content %}
    {% if application_slots|length == 0 %}
        <p>{{ "index.no_slots"|trans }}</p>
    {% else %}
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>{{ "start_at"|trans({}, "entity_application_slot") }}</th>
                <th>{{ "end_at"|trans({}, "entity_application_slot") }}</th>
                <th>{{ "entity.plural"|trans({}, "entity_application") }}</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for application_slot in application_slots %}
                <tr class="clickable" data-href="{{ path("backend_application_slot_application_index", {"applicationSlot" : application_slot.id}) }}">
                    <td>{{ application_slot.startAt|dateTimeFormat }}</td>
                    <td>{{ application_slot.endAt|dateTimeFormat }}</td>
                    <td>{{ application_slot.applications|length }}</td>
                    <td>
                        {{ buttons.button(path("backend_application_slot_application_index", {"applicationSlot": application_slot.id}), "index.title_short"|trans({}, "backend_application_slot_application"), "list") }}
                    </td>
                    <td>
                        {{ buttons.edit_button(path("backend_application_slot_edit", {"applicationSlot": application_slot.id}) ) }}
                    </td>
                    <td>
                        {{ buttons.remove_button(path("backend_application_slot_remove", {"applicationSlot": application_slot.id}) ) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}