{% extends 'single_content_base.html.twig' %}
{% import "widgets/buttons.html.twig" as buttons %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "backend_apartment" %}

{% block single_content %}

    {% if apartments|length > 0 %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ "name"|trans({}, "trait_thing") }}</th>
                <th>{{ "entity.name"|trans({}, "entity_building") }}</th>
                <th>{{ "entity.plural"|trans({}, "entity_application_slot") }}</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for apartment in apartments %}
                <tr>
                    <td>{{ apartment.name }}</td>
                    <td>{{ apartment.building.name }}</td>
                    <td>{{ apartment.applicationSlots|length }}</td>
                    <td>
                        {{ buttons.edit_button(path("backend_apartment_edit", {"apartment": apartment.id}) ) }}
                    </td>
                    <td>
                        {{ buttons.remove_button(path("backend_apartment_remove", {"apartment": apartment.id}) ) }}
                    </td>
                    <td>
                        {{ buttons.add_button(path("backend_application_slot_new", {"apartment": apartment.id}) ) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ "index.no_apartments"|trans }}</p>
    {% endif %}
{% endblock %}