{% extends 'single_content_base.html.twig' %}
{% import "widgets/buttons.html.twig" as buttons %}

{% block title %}{{ "index.title"|trans }}{% endblock %}
{% block description %}{{ "index.description"|trans }}{% endblock %}

{% trans_default_domain "backend_building" %}

{% block single_content %}

    <p>
        {{ buttons.add_button(path("backend_building_new")) }}
    </p>

    {% if buildings|length > 0 %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ "name"|trans({}, "trait_thing") }}</th>
                <th>{{ "address_lines"|trans({}, "trait_address") }}</th>
                <th>{{ "entity.plural"|trans({}, "entity_apartment") }}</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for building in buildings %}
                <tr>
                    <td>{{ building.name }}</td>
                    <td>{{ building.addressLines|implode(", ") }}</td>
                    <td>{{ building.apartments|length }}</td>
                    <td>
                        {{ buttons.edit_button(path("backend_building_edit", {"building": building.id}) ) }}
                    </td>
                    <td>
                        {{ buttons.remove_button(path("backend_building_remove", {"building": building.id}) ) }}
                    </td>
                    <td>
                        {{ buttons.add_button(path("backend_apartment_new", {"building" : building.id})) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ "index.no_buildings"|trans }}</p>
    {% endif %}
{% endblock %}